* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #eee;
}
.main-title {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
}

p {
    text-align: justify;
}

.left-flex form {
    padding: 12px;
    background-color: #eee;
    border-radius: 10px;
}

.left-flex .radio-form {
    margin: 0 10px;
}

.left-flex .radio-form h3 {
    margin: 10px;
}

.left-flex .radio-form {
    display: flex;
    align-items: center;
}

.left-flex .radio-form input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.left-flex .radio-form .lbl-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 100px;
    padding: 5px;
    border: 1px solid #eca1a6;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.left-flex .radio-form .lbl-radio:hover {
    background-color: #ecb6b9;
}

.left-flex .radio-form input[type=radio]:checked + .lbl-radio {
    width: 100px;
    color: white;
    background-color: #eca1a6;
    border: 1px solid #ccc;
    border-radius: 7px;
    justify-content: center;
}

.left-flex .radio-form .lbl-slash {
    margin-left: 10px;
}

.left-flex .input-form {
    margin: 0 10px;
}

.left-flex .input-form input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito", sans-serif;
    transition: .3s;
}

.left-flex .input-form input[type=number]:focus {
    border-color: #eca1a6;
    box-shadow: 0 0 8px 0 #eca1a6;
}

.left-flex .btn-form-l {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.left-flex .btn-form-l .btn-calc{
    width: 100px;
    border-radius: 7px;
    padding: 6px;
    border: none;
    background-color: #eca1a6;
    color: white;
    cursor: pointer;
}

.left-flex .btn-form-l .btn-calc:hover {
    background-color: #e06377;
}

.left-flex .btn-form-l .btn-rst{
    width: 70px;
    border-radius: 7px;
    padding: 6px;
    border: 1px solid #eee;
    background-color: white;
    cursor: pointer;
}

.left-flex .btn-form-l .btn-rst:hover {
    background-color: #ccc;
}

aside {
    padding: 48px;
}

aside.left-flex,
aside.right-flex {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

.right-flex .result-form {
    background-color: #eee;
    padding: 12px;
    border-radius: 10px;
}

.right-flex .result-form h2 {
    text-align: center;
    margin: 0;
}

.right-flex .result-form h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: ;
}

.right-flex .result-form h3 {
    text-align: center;
}

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
    margin-top: 0;
}

#comment {
    color: #eca1a6;
    font-weight: 800;
}

.right-flex .result-form .btn-form-r {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.right-flex .result-form .btn-form-r button {
    width: 170px;
    border: none;
    border-radius: 7px;
    padding: 6px;
    background-color: #eca1a6;
    color: white;
    cursor: pointer;
}

.right-flex .result-form .btn-form-r button:hover {
    background-color: #e06377;
}

.right-flex .btn-consult {
    width: 220px;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: #eca1a6;
    color: white;
    cursor: pointer;
}

.right-flex .btn-regis {
    width: 190px;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: #eca1a6;
    color: white;
    cursor: pointer;
}

.right-flex .sugest-form {
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
}

.right-flex .sugest-form h1 {
    margin: 0;
}

.right-flex .sugest-form ul {
    list-style: none;
    margin-bottom: 15px;
    margin-top: 10px;
}

.right-flex .sugest-form .btn-form-r {
    margin-bottom: 10px;
}

.right-flex button:hover {
    background-color: #e06377;
}

footer {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 400px;
  
  }
  
  /* popup Content */
  .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 10px;
    box-shadow: #393c76 -1px 2px 2px 1px;
  }
  
  #popupText {
    padding-right: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(24, 23, 23);
  }
  
  .popup-wrong {
  border: 2px solid red;
  }
  
  .popup-correct {
    border: 2px solid green;
    }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .close:hover {
    color: #d41111; 
  }