* {
    font-family: "Palanquin Dark", sans-serif;
}
body {
    background-color: #eee;
}
.main-title {
    text-align: center;
}

main {
    display: flex;
}

.left-flex form {
    padding: 12px;
    background-color: white;
    border-radius: 10px;
}

.left-flex .input-form input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    transition: .3s;
}

.left-flex .input-form input[type=number]:focus {
    border-color: aqua;
    box-shadow: 0 0 8px 0 aqua;
}

.left-flex .input-form input[type=number]:focus + img {
    color: aqua;
}

aside {
    padding: 48px;
}

aside.left-flex,
aside.right-flex {
    width: 100%;
}

.left-flex .btn-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-flex .result-form {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
}

.right-flex .result-form h2 {
    text-align: center;
    margin: 0;
}

.right-flex .result-form h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.right-flex .result-form h3 {
    text-align: center;
}

.right-flex .result-form .btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.right-flex .result-form .btn-container button {
    width: 170px;
    padding: 3px;
}

footer {
    text-align: center;
}
